.navbar {
  width: 100%;
  height: 70px;
  color: cornflowerblue;
  background-color: cornflowerblue;
  .top {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .itemContainer {
      display: flex;
      align-items: center;
      
      

      .item {
        display: flex;
        align-items: center;
        margin-left: 30px;
        
        
      }
    }
  }
}
