.footer {

  color: cornflowerblue;
  background-color: cornflowerblue;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;

  .bottom {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .itemContainer {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-left: 30px;
        color: inherit;


        .icons {
          font-size: 18px;
          margin-right: 5px;
          
        }
        .iconify{
          font-size: 18px;
          margin-right: 5px;

        }
        
      }
    }
  }
}
